#xml-document ul{
  list-style: none;
  position: relative;
  display: block;
}

#xml-document li{
  margin: 3px 0px;
}
#xml-document ul{
  border-left: 1px dashed rgba(0, 200, 0, 0.3);
/*   margin-left: 1px; */
}
#xml-document .nodeName:hover+ul{
  border-left: 1px dashed rgba(0, 100, 200, 1);
/*   margin-left: 0px; */
}
#xml-document li input{
  border: 0px solid #ccc;
  padding: 2px 5px;
  background-color: #ff0;
}

.textContent, .nodeName{
  display: inline-block;
  min-width: 50px;
  padding: 3px 10px;
/*   background-color: rgba(0, 0, 0, 0.1); */
  border: 1px solid #ccc;
}
.nodeName:before{
  content: "nodeName \"";
  width: 20px;
  color: #a00;
}
.nodeName:after{
  content: "\"";
  width: 20px;
  color: #a00;
}
.textContent:before{
  content: "#text \"";
  width: 20px;
  color: #a00;
}
.textContent:after{
  content: "\"";
  width: 20px;
  color: #a00;
}
#xml-document ul.contextMenu {
  display: block;
  position: absolute;
  z-index: 10000;
  background-color: #fff;
  border: 0;
  margin: 0px;
  padding: 0px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
#xml-document ul.contextMenu li{
  border-bottom: 1px solid #eee;
  padding: 5px;
  margin: 0px;
  cursor: pointer;
}

ul.contextMenu li:hover{
  background-color: #48f;
}
#xml-document ul.contextMenu:after{
  position: absolute;
  z-index: -1;
  top: -5px;
  display: inline-block;
  content: "";
  left: 45%;
  width: 10px;
  height: 10px;
  background-color: #fff;
  box-shadow: -2px -2px 2px rgba(0,0,0, 0.3);
  transform: rotate(45deg);
}
ul.contextMenu li:before{
   content: unset;
}

li{
  position: relative;
}

li:before {
  position: absolute;
  top: 10px;
  left: -40px;
  display: inline-block;
  content: "";
  width: 10px;
  height: 0px;
/*   background-color: #0ff; */
/*   border-radius: 10px;  */
  border: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 10px solid rgba(0, 150, 0, 0.6);
}